#carrosselFiltro {

position: relative
;

}


#homeFiltro {
   
position: absolute;
transform: translate(35%, -50px)

}

   
    
    

/* 
Usar position relative no container com os dois, e mudar o que queremos por a frente para position absolute e depois sobrepor por exemplo com:
top: 8px;
left: 16px;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
*/

#eventoLayout{

height: 1500px;
width: 1500px;
background-color: grey;

}

#outrosLayout{

    height: 1500px;
    width: 1500px;
    background-color:yellow;
    
    }


