#carrosselFiltro {

position: relative
;

}


#homeFiltro {
   
position: absolute;
transform: translate(35%, -50px)

}

.nav-link:hover{
color: #002A75

}

.cardParceria:link {
    color:black;
    text-decoration: none;

}   

    

/* 
Usar position relative no container com os dois, e mudar o que queremos por a frente para position absolute e depois sobrepor por exemplo com:
top: 8px;
left: 16px;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
*/

#eventoLayout{

height: 1500px;
width: 1500px;
background-color: grey;

}

#outrosLayout{

    height: 1500px;
    width: 1500px;
    background-color:yellow;
    
    }

    #eventoData{
        color: grey;
    }
    #localição{
        color: grey;
    }
    #TestDate{
        color: grey;
    }
    .eventoclick:link, .eventoclick:visited{
       color:black;
       text-decoration: none;
        
    }
    .eventoclick:hover{
        color:black;
        text-decoration: none;
        background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 52%, rgba(0,0,0,0.4) 100%);
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 52%,rgba(0,0,0,0.4) 100%);
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 52%,rgba(0,0,0,0.4) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
  opacity: 1;
  border-radius: 5px;

    }

    #carrosselFiltro{border-bottom:3px solid black;}



    .star-rating {
        direction: rtl;
        display: inline-block;
    
    }
    
    .star-rating input[type=radio] {
        display: none
    }
    
    .star-rating label {
        color: #bbb;
        font-size: 18px;
        padding: 0;
        cursor: pointer;
        -webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out
    }
    
    .star-rating label:hover,
    .star-rating label:hover ~ label,
    .star-rating input[type=radio]:checked ~ label {
        color: #f2b600
    }
    
    .checked {
        color: #f2b600;
    }
   

